<div id="promotion-preview-page" class="boxed-page" ng-cloak>
    <div class="promotion-preview-area boxed-area" ng-if="vm.zoiUser">

        <div class="box-area-wrapper">

            <div class="box-header">
                {{vm.pageTitle}}
            </div>
            <div class="box-sub-header">
                <b>{{vm.subHeaderText}}</b>
            </div>

            <div ng-show="vm.promotionType === 'facebook'" class="box-body" style="border-top: solid #ececec 1px;">
                <div class="text-center box-sub-header" style="font-size: 16px !important;margin-top: 5px">
                    <div class="preview-wrapper">
                        <md-input-container class="md-block" style="margin-bottom: 0;">
                            <label>Post Title</label>
                            <textarea ng-model="vm.selectedTitle" md-maxlength="250" rows="1" md-select-on-focus
                                      maxlength="250"></textarea>
                        </md-input-container>
                        <img class="image-preview" ng-src="{{vm.contentImage}}"/>
                        <br>
                        <md-input-container class="md-block" style="margin-bottom: 0;margin-top: 40px;"
                                            ng-if="!vm.isIntegratedWithAcuity">
                            <label>Add a link to your scheduling page</label>
                            <textarea ng-model="vm.schedulingPageLink" rows="1" md-select-on-focus>
                            </textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div ng-show="vm.promotionType === 'email'">
                <div ng-bind-html="vm.selectedEmailTemplate" class="email-html-wrapper">
                </div>
            </div>

            <div class="post-button">
                <md-button class="md-raised md-primary no-margin keep-convo-button"
                           ng-click="vm.sendAction($event, 'true')">
                    {{vm.approveText}}
                </md-button>

                <md-button class="md-raised md-warn no-margin stop-convo-button"
                           ng-click="vm.sendAction($event, 'false')">
                    {{vm.rejectText}}
                </md-button>
            </div>

        </div>

    </div>
</div>