html, body {
    margin: 0;
    height: 100%;
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 17px;
}

.page-container {
}

.vertical-center {
    display: flex;
    align-items: center;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.white-color {
    color: white;
}

.selected-late-time {
    background-color: #e3e2e2;
}

.dropdown-menu {
    padding: 0;
}

.blue-button {
    background-color: #106cc8 !important;
}

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.image-center {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*Box Styling*/

.boxed-page .boxed-area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    align-items: center;
}

.boxed-page .box-area-wrapper {
    height: 50%;
    width: 450px;
    overflow-y: auto;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    max-width: 100vw;
}

.boxed-page .box-item {
    height: 80px;
    display: flex;
    padding: 0 16px;
    border-top: solid #f5ebeb 1px;
    position: relative;
}

.boxed-page .box-hour-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding-right: 12px;
}

.boxed-page .box-details-wrapper {
    display: flex;
    align-items: center;
}

.boxed-page .user-image {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    width: 36px;
    height: 36px;
    margin-right: 20px;
    border-radius: 50%;

}

.boxed-page .box-area-wrapper {
    height: auto;
}

.boxed-page .box-header {

    background: blue;
    background-color: rgb(16, 108, 200);
    color: rgba(255, 255, 255, 0.87);
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 20px;

}

.boxed-page .box-sub-header {
    padding: 8px 16px;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.54);
}

.boxed-page .box-details-header {
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boxed-page .box-details-sub {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

    .boxed-page .boxedf-area:before {
        /*Minimum gap size*/
        min-height: 30px;
    }

    .boxed-page .boxed-area:before, .boxed-area:after {
        /*Make the gap expend when available*/
        -webkit-box-flex: 1;
        box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        content: '';
        display: block;
        height: 24px;
    }

    .boxed-page .box-area-wrapper {
        /*flex-shrink: 0;*/
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    }

    .boxed-page .boxed-area {
        /*background-image: url("BG.jpg");*/
        background-size: cover;
    }

    .boxed-page .box-area-wrapper {

    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}

/*Box styling end*/

/* angular material popup */
md-dialog .md-actions, md-dialog md-dialog-actions {
    display: block !important;
    text-align: center !important;
}

md-dialog md-dialog-content:not([layout=row]) > :first-child:not(.md-subheader) {
    text-align: center !important;
}

md-dialog .md-actions, md-dialog md-dialog-actions {
    padding: 0 !important;
}

md-dialog .md-actions .md-button, md-dialog md-dialog-actions .md-button {
    margin: 8px 8px 8px 8px !important;
}

/* end of angular material popup */