<div id="settings-page" class="boxed-page" ng-cloak>
    <div class="boxed-area">

        <div class="box-area-wrapper">

            <div class="settings-header box-header">
                Guidelines

                <div class="nav-button" style="margin-left: auto">

                </div>
            </div>
            <div class="box-sub-header">
                <b>This is a settings page, I'll use this page as memo to remember the guidelines of the work you want
                    me to do.<br> Yours, Zoi.</b>
            </div>
            <div class="box-sub-header" style="border-top:solid #d7d7d7 1px">
                <b> General</b>
            </div>
            <div class="box-body" style=" border-bottom: solid #f5ebeb 1px">

                <div class="box-item" style="display: block">
                    <div class="" style="padding-top:20px">
                        Name
                    </div>
                    <div class=" box-sub-header">
                        {{vm.zoiUser.fullname}}
                    </div>
                </div>
                <div class="box-item" style="display: block">
                    <div class="" style="padding-top:20px">
                        Business Name
                    </div>
                    <div class=" box-sub-header">
                        {{vm.zoiUser.integrations.Acuity.userDetails.name}}
                    </div>
                </div>
                <div class="box-item" style="display: block">
                    <div class="" style="padding-top:20px">
                        Timezone
                    </div>
                    <div class=" box-sub-header">
                        {{vm.zoiUser.integrations.Acuity.userDetails.timezone}}
                    </div>
                </div>
            </div>
            <div class="box-sub-header" style="border-top:solid #d7d7d7 1px">
                <b> Brief </b>
            </div>
            <div class="box-body" style=" border-bottom: solid #f5ebeb 1px">

                <div class="box-item" style="display: block; position: relative"
                     ng-click="vm.openBriefTimePopup($event)">
                    <i class="fa fa-pencil" aria-hidden="true" style="position: absolute; right: 20px; top: 15px"></i>
                    <div class="" style="padding-top:20px">
                        Time of brief
                    </div>
                    <div class=" box-sub-header">
                        {{vm.morningBriefTime}}
                    </div>
                </div>
                <div class="box-item" style="display: block"
                     ng-click="vm.openCalendarsPopup($event)">
                    <i class="fa fa-pencil" aria-hidden="true" style="position: absolute; right: 20px; top: 15px"></i>
                    <div class="" style="padding-top:20px">
                        Default calendar
                    </div>
                    <div class=" box-sub-header">
                        {{vm.zoiUser.defaultCalendar.name}}
                    </div>
                </div>
                <!--<div class="box-item" style="display: block">-->
                <!--<div class="" style="padding-top:20px">-->
                <!--Email filter-->
                <!--</div>-->
                <!--<div class=" box-sub-header">-->
                <!--Show all customers-->
                <!--</div>-->
                <!--</div>-->
            </div>

            <div class="box-sub-header" style="border-top:solid #d7d7d7 1px">
                <b> Promotions </b>
            </div>
            <div class="box-body" style=" border-bottom: solid #f5ebeb 1px;">

                <div class="box-item" style="display: block"
                     ng-click="vm.openCustomersSendLimitPopup($event)">
                    <i class="fa fa-pencil" aria-hidden="true" style="position: absolute; right: 20px; top: 15px"></i>
                    <div class="" style="padding-top:20px">
                        Per-customer send limit
                    </div>
                    <div class=" box-sub-header">
                        {{vm.customersSendLimitText}}
                    </div>
                </div>
                <div class="box-item" style="display: block"
                     ng-click="vm.openOldCustomersPopup($event)">
                    <i class="fa fa-pencil" aria-hidden="true" style="position: absolute; right: 20px; top: 15px"></i>
                    <div class="" style="padding-top:20px">
                        Non regular customers
                    </div>
                    <div class=" box-sub-header">
                        Mark after {{vm.oldCustomersRangeText}}
                    </div>
                </div>
                <div class="box-item" style="display: block"
                     ng-click="vm.openPromptWelcomePopup($event)">
                    <i class="fa fa-pencil" aria-hidden="true" style="position: absolute; right: 20px; top: 15px"></i>
                    <div class="" style="padding-top:20px">
                        Email new bookers
                    </div>
                    <div class=" box-sub-header">
                        {{vm.promptNewCustomers}}
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>