<div id="appointment-sum-page" class="boxed-page" ng-cloak>
    <div class="boxed-area">

        <div class="box-area-wrapper" ng-show="vm.isBooked" style="border: solid 1px #ececec;">
            <div style="margin: auto; text-align: center">
                <h3>
                    Thank's for scheduling!
                </h3>
                <br>
                <h1>
                    Zoi.
                </h1>
            </div>
        </div>

        <div class="box-area-wrapper" ng-hide="vm.isBooked">
            <img class="promo-image" ng-src="{{vm.appointment.promotionImage}}">

            </img>
            <div class="appointment-header box-header">
                {{vm.appointment.promotionTitle}}
            </div>
            <div class="box-sub-header">
                <p style="display: inline" ng-show="vm.promotionType === 'email'">
                    {{vm.appointment.customer.firstname}} {{vm.appointment.customer.lastname}}, </p>Book now to get the
                special promotion.
            </div>
            <div class="box-body"
                 style="  border-top: solid #f5ebeb 1px;  border-bottom: solid #f5ebeb 1px; padding-top:30px; padding-bottom: 15px">
                <!--<div class="text-center">-->
                <!--Your plan:-->
                <!--</div>-->
                <div class="account-plan-image">
                </div>
                <div class="text-center">
                    {{vm.appointment.serviceName}}
                    <div>
                        {{vm.moment(vm.selectedSlot).tz(vm.timezone).format('MMMM Do YYYY')}},
                        {{vm.moment(vm.selectedSlot).tz(vm.timezone).format('HH:mm')}}
                    </div>
                </div>
                <div class="text-center box-sub-header">

                    <md-input-container>
                        <label>Time</label>
                        <md-select ng-model="vm.selectedSlot">
                            <md-option ng-repeat="slot in vm.openings" ng-value="slot.time">
                                {{moment(slot.time).tz(vm.timezone).format('HH:mm')}}
                            </md-option>
                        </md-select>
                    </md-input-container>

                </div>
                <div class="box-sub-header customer-form" ng-show="vm.promotionType === 'facebook'">
                    <form name="vm.customerForm">
                        <div layout="row">
                            <md-input-container class="md-block" flex="50">
                                <label>First Name</label>
                                <input ng-model="vm.appointment.customer.firstname" required>
                            </md-input-container>

                            <md-input-container class="md-block" flex="50">
                                <label>Last Name</label>
                                <input ng-model="vm.appointment.customer.lastname" required>
                            </md-input-container>
                        </div>

                        <md-input-container class="md-block no-margin">
                            <label>Email</label>
                            <input ng-model="vm.appointment.customer.email" type="email"
                                   name="customerEmail" ng-pattern="/^.+@.+\..+$/">
                            <div ng-messages="vm.customerForm.customerEmail.$error" role="alert">
                                <div ng-message-exp="['pattern']">
                                    Your email must be look like an e-mail address
                                </div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
            </div>

            <div class="box-sub-header">
                Please make sure the chosen date and time are correct before booking.
            </div>

            <div class="box-body">
                <div class="box-item " style="width: 100%;">
                    <div class="text-center" style="    width: 100%;    padding: 20px;    color: gray;">
                        <button class="appointment-button btn btn-default" ng-click="vm.scheduleAppointment($event)">
                            Schedule
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>








