#keywords-page .md-chips .md-chip-input-container:not(:first-child) {
    margin: 14px 8px 0 0 !important;
}

#keywords-page .md-chips {
    padding: 0 0 0px 3px;
}

#keywords-page md-dialog .md-actions, md-dialog md-dialog-actions {
    display: none !important;
}